html, body {
  height: 100%;
  width: 100%;
}
canvas { 
	margin: auto;
	//border: 1px solid black; 
    border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#colorPicker{
    border: solid 1px #151515;
    width: 200px;
    height: auto;
    padding: 5px;
    position: absolute;
}
#picker{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
    margin-bottom: 10px
}
#picker #color{
    height: 150px;
    width: 150px;
}
#picker #hue{
    height: 150px;
    width: 30px;
}
#picker #alpha{
    height: 30px;
    width: 150px;
    background-image: linear-gradient(45deg, #15151580 25%, transparent 25%), linear-gradient(-45deg, #15151580 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #15151580 75%), linear-gradient(-45deg, transparent 75%, #15151580 75%);
    background-size: 10px 10px;
    background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
}
#picker #preview{
    height: 30px;
    width: 30px;
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 10px 10px;
    background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
}

#colorInputs{
    height: 25px;
    overflow: hidden;
    width: 200px;
    padding: 2px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#colorInputs div{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#colorInputs label{
    text-align: center;
}
label[for="hex"]{
    width: 40px;
}
#hex{
    width: 130px;
}
.labelSmall{
    width: 15px;
}
.inputSmall{
    width: 30px;
}
.labelMini{
    font-size: 0.8em;
    width: 18px;
}
.inputMini{
    width: 19px;
    font-size: 0.7em;
}
#inputSelector{
    width: 10px;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
}
#hexInput{
    display: flex;
} 
#rgbInput,
#hslInput,
#cmykInput{
    display: none;
}
#hexInput, #rgbInput, #hslInput{
    width: 180px;
    margin: 0;
}
#favorites{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-top: 5px;
    border-top: solid 1px #151515;
}
.favorite{
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
